<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--Source of fonts-->
  <!--<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">-->

</head>

<body>
  <div class="progress-bar" id="progressBar"></div>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Yurii Paniv
              </h1>
              <p>I'm a PhD student in Computer Science at the Ukrainian Catholic University (UCU), working on developing
                unsupervised and semi-supervised methods to obtain high-quality machine
                learning models using
                minimal data.
                <br>My goal is to bring state-of-the-art performance to mid- and low-resource
                languages across different modalities: text, speech, and vision.
              </p>
              <p>
                This is important for languages that don't have the same amount of data available as for English,
                bringing those communities equal economic opportunities.
              </p>
              <p>

              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/robinhad"><span class="svg-icon github"></span> GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=iUMYDLkAAAAJ&hl">📚 Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/yurii-paniv-aa969b151/"><span class="svg-icon linkedin"></span>
                  LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo"
                src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>🪄 Research</h2>
              <hr>
              <p>
                Here is a list of my research projects, exploring how to shorten the gap between high-resource and
                low-resource languages in natural language processing.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% assign has_previous = false %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">📖 arxiv</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.video %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.video}}" target="_blank">video</a>
              {% assign has_previous = true %}
              {% endif %}
              {% if post.code %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.code}}" target="_blank"><span class="svg-icon github"></span> code</a>
              {% assign has_previous = true %}
              {% endif %}
              {% if post.model %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.model}}" target="_blank">🤗 model</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.demo %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.demo}}" target="_blank">🕹️ demo</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.poster %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.poster}}" target="_blank">poster</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.slides %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.slides}}" target="_blank">slides</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.website %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.website}}" target="_blank">website</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.youtube %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.youtube}}" target="_blank">youtube</a>{% assign has_previous = true %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>🤗 Open Source Projects</h2>
              <hr>
              <p> These are projects that I have contributed to or created, that led to my research work.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'GitHub' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% assign has_previous = false %}
              {% if post.website %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.website}}" target="_blank">website</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.paper %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.paper}}" target="_blank">paper</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.patent %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.patent}}" target="_blank">patent</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.patent2 %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.patent2}}" target="_blank">patent #2</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.patent3 %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.patent3}}" target="_blank">patent #3</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.video %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.video}}" target="_blank">video</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.video2 %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.video2}}" target="_blank">video #2</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.code %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.code}}" target="_blank"><span class="svg-icon github"></span> code</a>{% assign
              has_previous = true %}
              {% endif %}
              {% if post.model %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.model}}" target="_blank">🤗 model</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.demo %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.demo}}" target="_blank">🕹️ demo</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.poster %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.poster}}" target="_blank">poster</a>{% assign has_previous = true %}
              {% endif %}
              {% if post.slides %}
              {% if has_previous %} / {% endif %}
              <a href="{{post.slides}}" target="_blank">slides</a>{% assign has_previous = true %}
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <!--
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work.
              </p>
            </td>
          </tr>
        </table>-->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'GitHub' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <script>
    window.addEventListener('scroll', () => {
      const winScroll = document.documentElement.scrollTop || document.body.scrollTop;
      const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      document.getElementById('progressBar').style.width = scrolled + '%';
    });
  </script>
</body>

</html>